



<div class="match_box">

  <div class="s">You have a Match. </div>

  <div class="s"> Network info</div>
  <div class="s">
    <b>Network name:</b>
   <%= @share.network_name %>
  </div>

  <div class="s">
    <b>Network password:</b>
    <%= @share.network_password %>
  </div>
  <div class="s">
    <%= link_to 'Edit', edit_share_path(@share) %>
  </div>
</div>



