<img src="theone.jpg" alt="" >
<div class="inpix1"> On the train.</div>
<div class="inpix2">Wifi when it's urgent.</div>


  If you are in need of a mobile hotspot during your train ride, BoxCarWiFi is
  your answer.  We connect those who need an internet connection to those that have a mobile hotspot.




  Hotspots Needed:
    You can make up to $15 a day without lifting a finger.
    Sign up now if you have a mobile hotspot that you can share.

