<div id="tripcreate"><h1>Give me some money!</h1>
  <h1>Enter in your trip information</h1>
  <h1>and we'll find some one who will</h1>
  <h1>pay to use your mobile hotspot!</h1>
</div>
<%= render 'form' %>

