/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 input:-webkit-autofill {
     color: #fff !important;
 }
body {
  margin:0;
  padding:0;
}
#nav {
  height: 50px;
  width: 960px;
  margin: 50px auto;
}

a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none;
  color: black;
}


.s {
  float: left;
  font-size: 40px;
  font-family: Maven Pro;
  font-weight: 700;
  color:red;
}

.n {
  float: right;
  margin-right: 50px;
  font-size: 23px;

  font-family: Maven Pro;
  font-weight: 700;
  text-decoration: none;
  color: black;
}
.f {
  position:fixed;
  top:2%;
  right:2%;
}

#aa {
  border: 2px solid black;
  margin:  100px;
  clear: both;
}

img{
  width:100%;
  display: block;
}

#toy {
  border: 2px solid black;
  margin: 0 auto;
  width: 400px;
}
